.datepicker {
    line-height: 2;
    height: 2.5rem;
    width: 100%;
    font-family: 'Roboto';
    font-size: 1.1rem;
    padding-left: .5rem;
    border-radius: 3px;
}

.react-datepicker-wrapper {
    width: 100%;
}