* {
  box-sizing: border-box;
  --primary-color: #34a265;
  --light-grey: #e1e1e1;
  --dark-grey: #2F4858;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  color: var(--dark-grey);

}

button {
  color: var(--dark-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
